.navbar{
    margin-bottom: 50px;
}

.tab-header{
    margin-left: 0px;
    height: 42px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 60px;
}

.tab-header:first-child{
    margin-left: 0px;
}

.tab-header > a{
    color: white;
    text-transform: uppercase;
    border-radius: 0;
    width: 100%;
}

.tab-header > a:hover{
    border-radius: 0;
    color: #c3369e;
    margin-top: -5px;
    padding-top: 15px;
    height: 47px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    cursor: default;
    background-color: snow;
    border: 1px solid #c1349c;
    border-radius: 0;
    margin-top: -5px;
    padding-top: 15px;
    height: 47px;
}

.nav-tabs {
    border-bottom: 1px solid #c2359d;
}

.nav-tabs>li.active>a{
    background: linear-gradient(#c3369e,#c2359d);
    color: white;
}

.tab-content{
    background: linear-gradient(#c2359d,#88146a);
    border: none;
    min-height: 160px;
    padding-top: 1%;
    padding-left: 2.5%;
}

#switch{
    width: 28px;
    height: 40px;
    float: left;
    margin-right: -15px ;
    margin-left: -5px ;
}

#switch img{
    margin-top: 10px;
}

#switch:hover{
    cursor: pointer;
}

.line{
    width: inherit;
    margin-bottom: 20px;
    color: white;
}

#datetimepicker2{
    margin-left: 5px;
    margin-right: -7px;
}

.pull-right button{
    background: linear-gradient(#ed5400, #eb5100, #ed5400);
    border: none;
    color: white;
    text-transform: uppercase;
    height: 42px;
    font-weight: bold;
    margin-top: -40px;
}

.pull-right button:hover{
    background: linear-gradient(#ed5400, #eb5100, #ed5400);
    color: white;
}

.modal{
    top: 260px;
    left: 335px;
}

.modal button{
    background: linear-gradient(#c3c3c3, #afafaf, #c3c3c3);
    color: white;
    font-weight: bold;
}

label{
    margin-top: 5px;
}

.input-passenger{
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.modal-input:hover{
    cursor: pointer;
}

.xdsoft_datetimepicker{
    top: 320px !important;
}

.autoComp{
    width: 180px;
    height: 100px;
    overflow: scroll;
    background: white;
    position: absolute;
    z-index: 10;
    font-size: 13px;
    display: none;
}

.autoComp span:hover{
    cursor: pointer;
    background: #c2359d;
    color: white;
}