body{
    background: url('../images/homepage.jpg') no-repeat top left;
    background-size: 100% 800px;
}

#logo{
    margin-top: -20px;
}

.navbar{
    padding-top: 10px;
    background: none;
    border: none;
    color: white;
    height: 70px;
}

.navbar-nav a{
    text-decoration: none;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-brand{
    text-decoration: none;
    color: white !important;
    font-weight: bold;
}
.panel{
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    margin-bottom: 10px;
}